In [6]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# load data
weather_brazil =pd.read_csv(r"C:\Users\jki\Downloads\sudeste.csv" )
weather_brazil.head()

,wsid,wsnm,elvt,lat,lon,inme,city,prov,mdct,date,...,tmax,dmax,tmin,dmin,hmdy,hmax,hmin,wdsp,wdct,gust
0,178,SÃO GONÇALO,237.0,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 00:00:00,2007-11-06,...,29.7,16.8,25.5,10.8,35.0,58.0,32.0,3.2,101.0,6.5
1,178,SÃO GONÇALO,237.0,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 01:00:00,2007-11-06,...,29.9,13.6,29.0,12.2,39.0,39.0,35.0,3.6,94.0,6.4
2,178,SÃO GONÇALO,237.0,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 02:00:00,2007-11-06,...,29.0,14.0,27.4,13.6,44.0,44.0,39.0,2.5,93.0,6.9
3,178,SÃO GONÇALO,237.0,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 03:00:00,2007-11-06,...,27.4,16.9,25.8,14.1,58.0,58.0,44.0,1.7,96.0,5.8
4,178,SÃO GONÇALO,237.0,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 04:00:00,2007-11-06,...,26.3,17.0,25.3,16.4,57.0,58.0,56.0,3.1,110.0,7.5

In [8]:
# lets have a look at the data types
weather_brazil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9779168 entries, 0 to 9779167
Data columns (total 31 columns):
 #   Column  Dtype
---  ------  -----
 0   wsid    int64
 1   wsnm    object
 2   elvt    float64
 3   lat     float64
 4   lon     float64
 5   inme    object
 6   city    object
 7   prov    object
 8   mdct    object
 9   date    object
 10  yr      int64
 11  mo      int64
 12  da      int64
 13  hr      int64
 14  prcp    float64
 15  stp     float64
 16  smax    float64
 17  smin    float64
 18  gbrd    float64
 19  temp    float64
 20  dewp    float64
 21  tmax    float64
 22  dmax    float64
 23  tmin    float64
 24  dmin    float64
 25  hmdy    float64
 26  hmax    float64
 27  hmin    float64
 28  wdsp    float64
 29  wdct    float64
 30  gust    float64
dtypes: float64(20), int64(5), object(6)
memory usage: 2.3+ GB

In [13]:
# let see the statistsical summary
weather_brazil.describe()

,wsid,elvt,lat,lon,yr,mo,da,hr,prcp,stp,...,tmax,dmax,tmin,dmin,hmdy,hmax,hmin,wdsp,wdct,gust
count,9.779168e+06,9.779168e+06,9.779168e+06,9.779168e+06,9.779168e+06,9.779168e+06,9.779168e+06,9.779168e+06,1.407984e+06,9.779168e+06,...,9.779142e+06,9.778858e+06,9.779134e+06,9.778361e+06,9.779168e+06,9.779156e+06,9.779124e+06,8.853607e+06,9.779168e+06,9.462694e+06
mean,3.592531e+02,5.940923e+02,-2.023082e+01,-4.464590e+01,2.011164e+03,6.521960e+00,1.575465e+01,1.150000e+01,9.366544e-01,8.804292e+02,...,2.110503e+01,1.524025e+01,1.986418e+01,1.422089e+01,6.726667e+01,6.996991e+01,6.441965e+01,1.998156e+00,1.385991e+02,4.494015e+00
std,3.901630e+01,3.980379e+02,3.172643e+00,4.882117e+00,3.207774e+00,3.425538e+00,8.802154e+00,6.922190e+00,2.923291e+00,2.482650e+02,...,7.545549e+00,5.866811e+00,7.134849e+00,5.777089e+00,2.654213e+01,2.643371e+01,2.656550e+01,1.618531e+00,1.052018e+02,2.981790e+00
min,1.780000e+02,0.000000e+00,-2.496282e+01,-5.667732e+01,2.000000e+03,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,-3.200000e+00,-1.000000e+01,-8.500000e+00,-1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.280000e+02,2.830000e+02,-2.239580e+01,-4.743410e+01,2.009000e+03,4.000000e+00,8.000000e+00,5.000000e+00,0.000000e+00,9.113000e+02,...,1.820000e+01,1.270000e+01,1.720000e+01,1.160000e+01,5.300000e+01,5.800000e+01,4.900000e+01,8.000000e-01,5.600000e+01,2.300000e+00
50%,3.580000e+02,5.730000e+02,-2.075041e+01,-4.445379e+01,2.011000e+03,7.000000e+00,1.600000e+01,1.200000e+01,0.000000e+00,9.442000e+02,...,2.190000e+01,1.660000e+01,2.080000e+01,1.560000e+01,7.400000e+01,7.800000e+01,7.000000e+01,1.700000e+00,1.140000e+02,4.200000e+00
75%,3.940000e+02,8.750000e+02,-1.891707e+01,-4.243575e+01,2.014000e+03,9.000000e+00,2.300000e+01,1.800000e+01,6.000000e-01,9.731000e+02,...,2.580000e+01,1.940000e+01,2.420000e+01,1.840000e+01,8.900000e+01,9.100000e+01,8.600000e+01,2.900000e+00,2.160000e+02,6.300000e+00
max,4.230000e+02,1.758000e+03,0.000000e+00,0.000000e+00,2.016000e+03,1.200000e+01,3.100000e+01,2.300000e+01,1.000000e+02,1.050000e+03,...,4.500000e+01,4.480000e+01,4.500000e+01,4.490000e+01,1.000000e+02,1.000000e+02,1.000000e+02,1.980000e+01,3.600000e+02,5.000000e+01

In [15]:
# see the numbeer of rows and  columns
weather_brazil.shape

(9779168, 31)

In [21]:
# lets change the data type of date
weather_brazil['mdct'] = pd.to_datetime(weather_brazil['mdct'])
weather_brazil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9779168 entries, 0 to 9779167
Data columns (total 31 columns):
 #   Column  Dtype
---  ------  -----
 0   wsid    int64
 1   wsnm    object
 2   elvt    float64
 3   lat     float64
 4   lon     float64
 5   inme    object
 6   city    object
 7   prov    object
 8   mdct    datetime64[ns]
 9   date    object
 10  yr      int64
 11  mo      int64
 12  da      int64
 13  hr      int64
 14  prcp    float64
 15  stp     float64
 16  smax    float64
 17  smin    float64
 18  gbrd    float64
 19  temp    float64
 20  dewp    float64
 21  tmax    float64
 22  dmax    float64
 23  tmin    float64
 24  dmin    float64
 25  hmdy    float64
 26  hmax    float64
 27  hmin    float64
 28  wdsp    float64
 29  wdct    float64
 30  gust    float64
dtypes: datetime64[ns](1), float64(20), int64(5), object(5)
memory usage: 2.3+ GB

In [22]:
missing_values = weather_brazil.isna().sum()
print(missing_values)

wsid          0
wsnm          0
elvt          0
lat           0
lon           0
inme          0
city          0
prov          0
mdct          0
date          0
yr            0
mo            0
da            0
hr            0
prcp    8371184
stp           0
smax          0
smin          0
gbrd    4108820
temp         31
dewp        475
tmax         26
dmax        310
tmin         34
dmin        807
hmdy          0
hmax         12
hmin         44
wdsp     925561
wdct          0
gust     316474
dtype: int64

In [25]:
# lets drop missing values
weather_brazil.dropna(subset=['prcp'],inplace=True)
missing_values = weather_brazil.isna().sum()
print(missing_values)

wsid         0
wsnm         0
elvt         0
lat          0
lon          0
inme         0
city         0
prov         0
mdct         0
date         0
yr           0
mo           0
da           0
hr           0
prcp         0
stp          0
smax         0
smin         0
gbrd    639372
temp         1
dewp        11
tmax         0
dmax        19
tmin         3
dmin        16
hmdy         0
hmax         4
hmin        17
wdsp     72563
wdct         0
gust     22082
dtype: int64

In [27]:
# lets drop missing values
weather_brazil.dropna(subset=['gbrd'],inplace=True)
weather_brazil.dropna(subset=['temp'],inplace=True)
weather_brazil.dropna(subset=['dewp'],inplace=True)
weather_brazil.dropna(subset=['dmax'],inplace=True)
weather_brazil.dropna(subset=['tmin'],inplace=True)
weather_brazil.dropna(subset=['dmin'],inplace=True)
weather_brazil.dropna(subset=['hmax'],inplace=True)
weather_brazil.dropna(subset=['hmin'],inplace=True)
weather_brazil.dropna(subset=['wdsp'],inplace=True)
weather_brazil.dropna(subset=['gust'],inplace=True)

missing_values = weather_brazil.isna().sum()
print(missing_values)

wsid    0
wsnm    0
elvt    0
lat     0
lon     0
inme    0
city    0
prov    0
mdct    0
date    0
yr      0
mo      0
da      0
hr      0
prcp    0
stp     0
smax    0
smin    0
gbrd    0
temp    0
dewp    0
tmax    0
dmax    0
tmin    0
dmin    0
hmdy    0
hmax    0
hmin    0
wdsp    0
wdct    0
gust    0
dtype: int64