In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\jki\Desktop\Preactse Data sets\boat_data.csv")

In [4]:
df

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58
...,...,...,...,...,...,...,...,...,...,...
9883,CHF 4900,Sport Boat,Sea Ray power boats,"Used boat,Unleaded",1987,6.30,2.44,NaN,Switzerland Â» Lago Maggiore Â» Riazzino,1116
9884,EUR 4516,Sport Boat,NaN,new boat from stock,0,4.17,1.68,GRP,Germany Â» Hamburg Â» HAMBURG,94
9885,EUR 4499,Sport Boat,BlueCraft power boats,"new boat from stock,Unleaded",2020,4.40,1.80,GRP,Germany Â» Nordrhein-Westfalen Â» Wesel,354
9886,EUR 4300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,NaN,Italy Â» Dormelletto,266
9887,CHF 3780,Fishing Boat,DarekCo power boats,new boat from stock,2019,3.60,1.60,GRP,Switzerland Â» Brienzersee Â» Brienz,194

In [6]:
group_by_frame = df.groupby('Boat Type')

In [7]:
group_by_frame.mean()

C:\Users\jki\AppData\Local\Temp\ipykernel_8480\4024548864.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group_by_frame.mean()

,Year Built,Length,Width,Number of views last 7 days
Boat Type,,,,
Bowrider,1802.229236,6.504033,2.432274,156.754153
"Bowrider,Cabin Boat,Deck Boat",2016.000000,8.300000,2.960000,435.000000
"Bowrider,Center console boat,Sport Boat",2018.000000,6.810000,2.360000,389.000000
"Bowrider,Classic",1971.000000,5.790000,2.200000,87.000000
"Bowrider,Deck Boat,Water ski",1995.000000,6.140000,2.470000,888.000000
...,...,...,...,...
Trawler,1939.036819,13.095523,3.888612,111.128130
Wakeboard/Wakesurf,1911.172414,6.934912,2.525357,376.258621
"Wakeboard/Wakesurf,Water ski",2014.000000,6.350000,2.545000,292.000000
Water ski,1802.300000,5.637778,2.663333,297.900000
Working Boat,1798.977273,13.862727,3.397442,143.477273

In [8]:
df.groupby('Boat Type').count()

,Price,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
Boat Type,,,,,,,,,
Bowrider,301,295,300,301,300,299,235,301,301
"Bowrider,Cabin Boat,Deck Boat",1,1,1,1,1,1,1,1,1
"Bowrider,Center console boat,Sport Boat",1,1,1,1,1,1,1,1,1
"Bowrider,Classic",1,1,1,1,1,1,1,1,1
"Bowrider,Deck Boat,Water ski",1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
Trawler,679,379,679,679,679,677,638,679,679
Wakeboard/Wakesurf,58,58,58,58,57,56,49,58,58
"Wakeboard/Wakesurf,Water ski",2,2,2,2,2,2,2,2,2
Water ski,10,9,10,10,9,9,8,10,10
Working Boat,44,17,44,44,44,43,34,44,44

In [9]:
df.groupby('Boat Type').max()

C:\Users\jki\AppData\Local\Temp\ipykernel_8480\2268331441.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  df.groupby('Boat Type').max()

,Price,Year Built,Length,Width,Number of views last 7 days
Boat Type,,,,,
Bowrider,Â£ 45950,2021,11.60,7.55,859
"Bowrider,Cabin Boat,Deck Boat",EUR 88000,2016,8.30,2.96,435
"Bowrider,Center console boat,Sport Boat",EUR 27000,2018,6.81,2.36,389
"Bowrider,Classic",EUR 11000,1971,5.79,2.20,87
"Bowrider,Deck Boat,Water ski",CHF 14950,1995,6.14,2.47,888
...,...,...,...,...,...
Trawler,Â£ 600000,2020,46.40,7.47,811
Wakeboard/Wakesurf,Â£ 165000,2021,8.31,2.90,1119
"Wakeboard/Wakesurf,Water ski",EUR 50000,2015,6.60,2.59,368
Water ski,EUR 86500,2020,6.67,5.60,1028
Working Boat,Â£ 5170,2020,67.04,9.50,477

In [10]:
df.groupby('Boat Type').sum()

C:\Users\jki\AppData\Local\Temp\ipykernel_8480\190933238.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Boat Type').sum()

,Year Built,Length,Width,Number of views last 7 days
Boat Type,,,,
Bowrider,542471,1951.21,727.25,47183
"Bowrider,Cabin Boat,Deck Boat",2016,8.30,2.96,435
"Bowrider,Center console boat,Sport Boat",2018,6.81,2.36,389
"Bowrider,Classic",1971,5.79,2.20,87
"Bowrider,Deck Boat,Water ski",1995,6.14,2.47,888
...,...,...,...,...
Trawler,1316606,8891.86,2632.59,75456
Wakeboard/Wakesurf,110848,395.29,141.42,21823
"Wakeboard/Wakesurf,Water ski",4028,12.70,5.09,584
Water ski,18023,50.74,23.97,2979
Working Boat,79155,609.96,146.09,6313

In [17]:
df.groupby(['Boat Type']).agg({'Length': ['mean', 'max','min','sum'] })

                                            Length
                                              mean    max   min      sum
Boat Type
Bowrider                                  6.504033  11.60  2.36  1951.21
Bowrider,Cabin Boat,Deck Boat             8.300000   8.30  8.30     8.30
Bowrider,Center console boat,Sport Boat   6.810000   6.81  6.81     6.81
Bowrider,Classic                          5.790000   5.79  5.79     5.79
Bowrider,Deck Boat,Water ski              6.140000   6.14  6.14     6.14
...                                            ...    ...   ...      ...
Trawler                                  13.095523  46.40  5.70  8891.86
Wakeboard/Wakesurf                        6.934912   8.31  5.90   395.29
Wakeboard/Wakesurf,Water ski              6.350000   6.60  6.10    12.70
Water ski                                 5.637778   6.67  2.32    50.74
Working Boat                             13.862727  67.04  3.64   609.96

[126 rows x 4 columns]