In [4]:
# Let import librries

import pandas as pd
import numpy as np

# load the data
espn_cricket_df = pd.read_csv(r"C:\Users\jki\Downloads\ESP Cricket Data.csv")
espn_cricket_df.head(10)

,Player,Span,Mat,Inns,NO,Runs,HS,*Ave*,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,*99.94*,9800+,58.6,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,*62.15*,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,*61.87*,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,*60.97*,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,*60.83*,416+,56,10,5,2,104+,1
5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,*60.73*,6558+,34.59,16,23,2,202+,6
6,E Paynter (ENG),1931-1939,20,31,5,1540,243,*59.23*,1288+,45.88,4,7,3,125+,4
7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,*58.67*,4957+,42.42,20,35,5,591+,27
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,*58.61*,-,-,15,19,6,258+,2
9,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,*58.45*,7491+,38.07,22,24,4,419+,27

In [6]:
# let check for missing values
missing_values = espn_cricket_df.isna().sum()
print(missing_values)

Player    0
Span      0
Mat       0
Inns      0
NO        0
Runs      0
HS        0
*Ave*     0
BF        0
SR        0
100       0
50        0
0         0
4s        0
6s        0
dtype: int64

In [7]:
# lets have look at the data types
espn_cricket_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  62 non-null     object
 1   Span    62 non-null     object
 2   Mat     62 non-null     int64
 3   Inns    62 non-null     int64
 4   NO      62 non-null     int64
 5   Runs    62 non-null     int64
 6   HS      62 non-null     object
 7   *Ave*   62 non-null     object
 8   BF      62 non-null     object
 9   SR      62 non-null     object
 10  100     62 non-null     int64
 11  50      62 non-null     int64
 12  0       62 non-null     int64
 13  4s      62 non-null     object
 14  6s      62 non-null     object
dtypes: int64(7), object(8)
memory usage: 7.4+ KB

In [8]:
# rename columns
espn_cricket_df =espn_cricket_df.rename(columns = {'Mat':'Matces','NO':'Not_Outes','HS':'Highest_Inns_Score','BF':'Balls_Faced','SF':'Batting_Strke_Rate'})
espn_cricket_df.head(5)

,Player,Span,Matces,Inns,Not_Outes,Runs,Highest_Inns_Score,*Ave*,Balls_Faced,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,*99.94*,9800+,58.6,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,*62.15*,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,*61.87*,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,*60.97*,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,*60.83*,416+,56,10,5,2,104+,1

In [9]:
# Letch check for null values
espn_cricket_df.head(5).isnull().any()

Player                False
Span                  False
Matces                False
Inns                  False
Not_Outes             False
Runs                  False
Highest_Inns_Score    False
*Ave*                 False
Balls_Faced           False
SR                    False
100                   False
50                    False
0                     False
4s                    False
6s                    False
dtype: bool