In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\jki\Desktop\Data Analysis Porfolio Projects\Python Data Analysis Projects\Data Cleaning Projects\Customer Call List\Utility Contact Center\Utility_Contact_Center_Average_Speed_For_Answering_Calls (1).csv")
df

    Fiscal Year  Seconds
0          2019       23
1          2018       38
2          2017       47
3          2016      339
4          2015      121
5          2014      123
6          2013       90
7          2012      101
8          2011      116
9          2010       90
10         2009       92
11         2008       74
12         2007       74
13         2006      122